table {
	border-collapse: collapse;
	text-align: center;
	display: inline-block;
	margin: 20px;
	background-color: #EEEEE0;
}

td,th {
	
}

td:nth-of-type(n+6),
th:nth-of-type(n+6) {
	color: red;
}

td:hover {
	background: #C1CDC1;
}

.current-date {
	background: #CCCCCC;
}

.first-day,
.last-day {
	
}

.completed-task {
	text-decoration: line-through;
}